<div> Nom:
  <input [(ngModel)]="client.nom" /><br/>
</div>
<div *ngIf="client.type === 'El'">Prenom:
  <input [(ngModel)]="client.prenom" /><br/>

</div>
<div *ngIf="client.type === 'Physique'">Prenom:
  <input [(ngModel)]="client.prenom" /><br/>

</div>
<div> Numéro de Tel
  <input type="number" [(ngModel)]="client.numeroTel"/><br/>
</div>
<div> Numéro de Fax
  <input type="number" [(ngModel)]="client.numeroFax"/><br/>
</div>
<div> Email
  <input  [(ngModel)]="client.email"/><br/>
</div>

<div *ngIf="client.type === 'Moral'">Siret:
  <input  [(ngModel)]="client.siret"/><br/>
</div>

<button class="btn btn-danger" (click)="save(client.id_client)">save</button>
