<h1>Liste des Vols</h1>
<table class="table">
  <tr>
    <th>ID du vol</th>
    <th>Date de départ</th>
    <th>Date d'arrivée</th>
    <th>Heure de départ</th>
    <th>Heure d'arrivée</th>
    <th>Aeroport de départ</th>
    <th>Aeroport d'arrivée</th>
  </tr>
  <tr *ngFor="let v of vols">
    <td>{{v.id}}</td>
    <td>{{v.dateDepart}}</td>
    <td>{{v.dateArrivee}}</td>
    <td>{{v.heureDepart}}</td>
    <td>{{v.heureArrivee}}</td>
    <td>{{v.aeroportDepart}}</td>
    <td>{{v.aeroportArrivee}}</td>
    <td><a href="" [routerLink]="['/vol', 'edit', v.id]" class="btn btn-info">Editer</a><td>
    <td><a href="" class="btn btn-danger" (click)="delete(v.id)">Supprimer</a></td>
  </tr>
</table>

<a href="" class="btn btn-info" [routerLink]="['/vol', 'create']">Ajouter</a>
