<h1>Liste des passagers</h1>
<table class="table">
  <tr>
    <th>ID</th>
    <th>Nom</th>
    <th>Prenom</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <tr *ngFor="let r of passagers">
    <td>{{r.idPassager}}</td>
    <td>{{r.nom}}</td>
    <td>{{r.prenom}}</td>
    <td><a href="" class="btn btn-secondary">Détails</a></td>
    <td><a href="" class="btn btn-info" [routerLink]="['/passager', 'edit', r.idPassager]">Editer</a>
    </td>
    <td><button class="btn btn-danger" (click)="delete(r.idPassager)">Supprimer</button></td>
  </tr>
</table>

<a href="" class="btn btn-info" [routerLink]="['/passager', 'create']">Ajouter</a>
